<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.LoginMapper" >

    <resultMap id="loginuserinfo" type="com.example.demo.Entity.UserInfo">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="psd" property="psd" />
    </resultMap>



    <select id="login" resultMap="loginuserinfo" parameterType="com.example.demo.Entity.UserInfo">
        select * from userinfo where username=#{username} and psd = #{psd}
    </select>

    <insert id="register" parameterType="com.example.demo.Entity.UserInfo">
        insert into userinfo (id,username,psd) values (null,#{username},#{psd})
    </insert>

    <select id="registerVerify" resultMap="loginuserinfo" parameterType="com.example.demo.Entity.UserInfo">
        select * from userinfo where username=#{username}
    </select>










</mapper>
