<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.StudentMapper" >

    <resultMap id="query_user" type="com.example.demo.Entity.User">
        <id column="cid" property="cid" />
        <result column="cname1" property="cname1" />
        <result column="cname" property="cname" />
        <result column="credit" property="credit" />
        <result column="isread" property="isread" />
        <result column="subscribe" property="subscribe" />
    </resultMap>


    <update id="setReadStates" parameterType="String">
        update middletable set isread=1 where uid=#{uid}
        <if test="cid != null and cid != ''">
            and  cid=#{cid}
        </if>
    </update>





    <select id="queryStudentList" resultMap="query_user">
select c.cid,c.cname,c.credit,(select subscribe from middletable where c.cid=middletable.cid and middletable.uid=18) as subscribe from course c
--         select c.cid,c.cname,c.credit,(select isread from middletable where c.cid=middletable.cid and middletable.uid=18) as isread from course c
--            select * from course;
--         select c.* from userinfo u INNER JOIN middletable m on 18=m.uid INNER JOIN course c on c.cid=m.cid

    </select>

    <select id="queryUserStudent" resultMap="query_user">
        select c.cid,u.id,c.cname,m.isread from userinfo u INNER JOIN middletable m on u.id=m.uid INNER JOIN course c on c.cid=m.cid where u.id=#{uid}

    </select>

    <select id="queryStudentList1" resultMap="query_user">

           select * from course where cid=#{cid};

    </select>



    <select id="queryStudentList2" resultType="com.example.demo.Entity.User">

           select * from course;

    </select>






</mapper>
