<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.StudentMapper" >
    <insert id="insertMiddletable">
        insert into middletable (uid,cid,isread,subscribe) values (#{uid},#{cid},#{isread},#{subscribe})
    </insert>

    <select id="queryStudentList" resultType="map">
        select
        u.id,
        u.username,
        m.isread,
        m.subscribe,
        c.cid,
        c.cname
        from userinfo u
        left join middletable m on u.id=m.uid
        left join course c on c.cid=m.cid
        where u.id=#{id}
    </select>

    <select id="selectCourseById" resultType="com.example.demo.Entity.Middletable">
        select * from middletable where uid=#{uid} and cid=#{cid}
    </select>

    <select id="getAllCourse" resultType="map">
        select * from course
    </select>

    <update id="setCourseReadByCid">
        update middletable set isread=1 where uid=#{uid} and subscribe=1
        <if test="cid != null and cid != ''">
            and cid=#{cid}
        </if>
    </update>

    <update id="updateMiddletable">
        update middletable set subscribe=1 where cid=#{cid}
    </update>

    <update id="deleteCourseById">
        update middletable set subscribe=0 where uid=#{uid}
    </update>

    <select id="queryCourse" resultType="com.example.demo.Entity.Course">
        select * from course
    </select>

</mapper>
