<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.StudentMapper" >

    <select id="queryStudentList" resultType="map">
        select
        u.id,
        u.username,
        m.isread,
        m.subscribe,
        c.cid,
        c.cname
        from userinfo u
        left join middletable m on u.id=m.uid
        left join course c on c.cid=m.cid
        where u.id=#{id}
    </select>


</mapper>
